<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

	<!-- 自动扫描@Controller注入为bean -->
	<context:component-scan base-package="com.wxy.work.controller" />

	<!-- 以下为SpringMVC配置 -->
	<mvc:annotation-driven>
		<!-- 返回json数据，@response使用 -->
		<mvc:message-converters register-defaults="true">
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>

			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 拦截器配置 -->  
    <mvc:interceptors>  
      <!-- session超时 -->  
      <mvc:interceptor>  
        <mvc:mapping path="/*/*"/>  
        <mvc:exclude-mapping path="/user/login.htmls"/>
        <mvc:exclude-mapping path="/user/regedit.htmls"/>
        <mvc:exclude-mapping path="/user/processUserLogin.htmls"/>
        <mvc:exclude-mapping path="/user/processUserRegedit.htmls"/>
        <mvc:exclude-mapping path="/authImage/image.htmls"/>
        
        <mvc:exclude-mapping path="/common/*"/>
        <mvc:exclude-mapping path="/*.html"/>
        <mvc:exclude-mapping path="/*.jsp"/>
        <mvc:exclude-mapping path="/cinema/showSeatPlan.htmls"/>
        <mvc:exclude-mapping path="/js"/>
        <mvc:exclude-mapping path="/css"/>
        <mvc:exclude-mapping path="/image"/>
        <mvc:exclude-mapping path="/images"/>
        <bean class="com.wxy.work.interceptor.LoginInterceptor"></bean>  
      </mvc:interceptor>  
    </mvc:interceptors>  
	
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 第三步：注册处理器映射器/处理器适配器 ，添加conversion-service属性-->
    <mvc:annotation-driven conversion-service="conversionService"/>
   
    <!-- 第二步： 创建convertion-Service ，并注入dateConvert-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConvert"/>
            </set>
        </property>
    </bean>
    <!-- 注册参数类型转换器   第一步:  创建自定义日期转换规则 -->   
    <bean id="dateConvert" class="com.wxy.work.util.DateConvert"/>
</beans>