<div class="container">
	<div class="row">

		<nav class="navbar navbar-default navbar-fixed-top"
			style="background-color: #87cefa" role="navigation">
			<div class="col-md-10 col-md-offset-1">
				<div class="navbar-header">
					<!-- 实现响应式 -->
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#my-navbar-collapse">
						<span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/MovieTicketSnapUp/common/index.htmls">电影购票系统</a>
				</div>
				<div class="collapse navbar-collapse" id="my-navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="common/index.htmls">首页</a></li>
						<li class="active"><a href="/MovieTicketSnapUp/common/index.htmls" >最新电影</a></li>
						<li><a href="common/getAllCinemas.htmls" onclick="switchNav()">电影院</a></li>
						<li><a href="" onclick="switchNav()">快速购票</a></li>
						<li><a href="" onclick="switchNav()">邀约</a></li>
						<li>
							<form id="" name="searchForm" method="post" action="/MovieTicketSnapUp/common/searchMovie.htmls" class="navbar-form">
								<div class="form-group">
									<input type="text" name="name" class="form-control" placeholder="搜索电影名" />
									<button type="submit" class="btn btn-default">搜索</button>
								</div>
							</form>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class=""><a href="user/regedit.htmls"><span
								class="glyphicon glyphicon-user"></span>注册</a></li>
						<li class=""><a href="user/login.htmls"><span
								class="glyphicon glyphicon-log-in"></span>登录</a></li>
					</ul>

				</div>
			</div>

		</nav>

	</div>
</div>

<script>
	funtion switchNav(){
		this.parent().addClass("active");
	}
</script>